BasedOnStyle: LLVM
PointerAlignment: Left
ColumnLimit: 120
IndentWidth: 4
BreakBeforeBraces: Allman
SortIncludes: Never
AccessModifierOffset: -4
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterObjCDeclaration: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: false
  BeforeWhile: true
  IndentBraces: false
InsertBraces: true